.main {
  padding: 20px;

  &__form {
    width: 50%;
    margin: auto;

    @media (max-width: 768px) {
      width: 100%;   
     }
  }

  &__list {
    width: 50%;
    margin: auto;

    @media (max-width: 768px) {
      width: 100%;   
     }
  }
}